
body 
    {font-family: Arial, sans-serif;}

h1, h2 
    {color: blue;}

h1 
    {font-size: 2em;}

h2 
    {font-size: 1.5em;}

.evenrow 
    {background-color: lightgray;}

table, th, td 
    {border: 2.3px solid black;}

.evenrow
 
    {background-color: #9DC183;}